<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>            
        <a  href="https://fintechblocks.com/" target="_top"><img style="height: 73px;" src="assets/images/fintechblocks_logo.png"></a>
    </p>
    <p style="color: #9bc127;">
        hello@fintechblocks.com
    </p>
</div>